/****** General ***********/

* {
    font-family: 'Syne', sans-serif;
}

h1 {
    color: #3B8E46;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    font-family: 'Syne', sans-serif;

    }

a {
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Syne', sans-serif;

}

a:hover {
    color: #000000;
}

/**HEADER**/



.h1-header {
    font-weight: 800;
     }

.container_class {
    width: 100%;
}

.navbar,.menu {
    display: flex;
    flex-direction: row;
}

.menu-principal-container {
    margin-left: auto;
}

.btn-command {
    background-color: #3B8E46;
}

.logo-header {
    width: 201px;
    height: 19px;
}